body{
    margin: 30px;
    font-family: 'Space Grotesk', sans-serif;
    background: white url("/static/images/todo-fries-bg.jpg") no-repeat fixed center;
}

.container {
    max-width: 600px;
    margin: 10px auto 20px auto;
    padding: 5px;

}

.top {
    margin-top: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.row {
    background: white;
    padding-left: 5px;
}

#addTask {
    display: none;
}

p {
    padding-top: 5px;
}

.square:nth-child(even) {background: #D0D0D0}
.square:nth-child(odd) {background: #E5E5E5}

.square {
    padding: 5px;
}