{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Todo App{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
<script src="static/scripts.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="top">
    <a href="{{ url_for('home')}}"><img src="https://fontmeme.com/permalink/220316/33e90c76948a1c1dd1694469604ba760.png" alt="pixel-fonts" border="0"></a>
</div>
<div class="container">
     <div class="row">
        <h4>Edit Task</h4>
         {{ wtf.quick_form(form,  button_map={"submit": "success"}) }}


    </div>
    <div class="row">
    </div>
</div>

<div class="top">
    <footer>Created by Scott with Flask, Flask-WTForms, Flask-Bootstrap and Flask-SQLAlchemy. Header from <a
            href="https://fontmeme.com/pixel-fonts/">Font Meme</a></footer>
</div>
{% endblock %}