{% extends "layout.html" %}
{% block content %}
<div class="top">
    <a href="{{ url_for('home')}}"><img src="https://fontmeme.com/permalink/220317/2dc3c3e95c7d38ec2e43737cc6438fbc.png" alt="pixel-fonts" border="0"></a>
</div>
<div class="container">
     <div class="row">
        <h4>Edit Task</h4>
         {{ wtf.quick_form(form,  button_map={"submit": "success"}) }}

        <p> <a class="text-danger" href="{{ url_for('home') }}">Return to Home </a></p>
    </div>
</div>

<div class="top">
    <footer>Created by Scott. Built with <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a>. 2022</footer>
</div>
{% endblock %}