{% extends "layout.html" %}
{% block content %}
<div class="top">
    <a href="{{ url_for('home')}}"><img src="https://fontmeme.com/permalink/220317/2dc3c3e95c7d38ec2e43737cc6438fbc.png" alt="pixel-fonts" border="0"></a>
</div>
<div class="container">
     <div class="row">
        <h4>Edit Task</h4>
         {{ wtf.quick_form(form,  button_map={"submit": "success"}) }}


    </div>
    <div class="row">
    </div>
</div>

<div class="top">
    <footer>Created by Scott. Built with Flask. 2022</footer>
</div>
{% endblock %}