{% extends "layout.html" %}
{% block content %}
<div class="top">
    <a href="{{ url_for('home')}}"><img src="https://fontmeme.com/permalink/220317/2dc3c3e95c7d38ec2e43737cc6438fbc.png"
                                        alt="pixel-fonts" border="0"></a>
<h4>Todo Fries helps you add, update and resolve tasks</h4>
    </div>

</div>
<div class="container">
    <div class="row">
        <button class="btn btn-warning btn-sm" onclick="hideAdd()">New Task</button>
          {% if current_user.is_authenticated %}
            <span class="signregister">
         <a hre="#"> Hi {{ current_user.name }}! </a>
            <a href="{{ url_for('signout') }}" class="btn btn-danger btn-sm">Sign Out</a>
            </span>
            {% else %}
            <strong>Sign in/Register to start using Todo Fries</strong>
        <span class="signregister">
                 <a href="{{ url_for('signup') }}" class="btn btn-danger btn-sm">Register</a>
             <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign In
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {{ wtf.quick_form(sign_in_form, novalidate=True, button_map={"submit": "success"}) }}
            </div>
            </span>
            {% endif %}

         {% if current_user.is_authenticated %}
        <div id="addTask">
            {{ wtf.quick_form(task_form, novalidate=True, button_map={"submit": "success"}) }}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <h4>Active Tasks <span class="signregister">{{ count }} active {{ resolved }} <a class="text-danger" href="{{ url_for('show_resolved') }}">resolved</a>
        </span></h4>
        {% for todo in todos|reverse %}
        <div class="square">
            <p><strong>Task:</strong> {{ todo.title }}</p>
            <p><strong>Description:</strong> <br> {{ todo.description }}</p>
            <p><strong>Priority:</strong> {{ todo.priority }}</p>

            <a title="resolved" href="{{ url_for('resolve_task', task=todo.id) }}">✅</a> | <a title="edit"
                                                                                              href="{{ url_for('edit_task', task=todo.id) }}">✏️</a>
            | <a title="delete" href="{{url_for('delete_task', task=todo.id)}}">❌</a> <a class="text-danger" title="task"
                                                                                         href="{{ url_for('show_task', task=todo.id) }}">{{
            todo.date }}</a>
            <hr>
        </div>
        {% endfor %}
        <p> <a class="text-danger" href="{{ url_for('show_resolved') }}">See {{ resolved }} resolved tasks </a></p>


    </div>

</div>
<div class="top">
    <footer>Created by Scott. Built with Flask. 2022</footer>
</div>


{% endblock %}

