{% extends "layout.html" %}
{% block content %}
<div class="top">
    <a href="{{ url_for('home')}}"><img src="https://fontmeme.com/permalink/220317/2dc3c3e95c7d38ec2e43737cc6438fbc.png"
                                        alt="pixel-fonts" border="0"></a>

</div>
<div class="container">
    <div class="row">
        <h4>Todo Fries will help you add, edit and resolve tasks</h4>
        <p>You currently have {{ count }} active🍟 tasks and {{ resolved }} <a href="{{ url_for('show_resolved') }}">resolved 🍟</a>
            tasks</p>
        <button class="btn btn-warning" onclick="hideAdd()">New Task</button>
        <div id="addTask">
            {{ wtf.quick_form(form, button_map={"submit": "success"}) }}
        </div>

    </div>
    <div class="row">
        <h4>Active Tasks</h4>
        {% for todo in todos|reverse %}
        <div class="square">
            <p><strong>Task:</strong> {{ todo.title }}</p>
            <p><strong>Description:</strong> <br> {{ todo.description }}</p>
            <p><strong>Priority:</strong> {{ todo.priority }}</p>

            <a title="resolved" href="{{ url_for('resolve_task', task=todo.id) }}">✅</a> | <a title="edit"
                                                                                              href="{{ url_for('edit_task', task=todo.id) }}">✏️</a>
            | <a title="delete" href="{{url_for('delete_task', task=todo.id)}}">❌</a> <a title="task"
                                                                                         href="{{ url_for('show_task', task=todo.id) }}">{{
            todo.date }}</a>

        </div>
        {% endfor %}

    <footer>Created by Scott. Built with Flask. 2022</footer>

    </div>
</div>



{% endblock %}

