{% extends "layout.html" %}
{% block content %}
<div class="top">
    <a href="{{ url_for('home')}}"><img src="https://fontmeme.com/permalink/220317/2dc3c3e95c7d38ec2e43737cc6438fbc.png" alt="pixel-fonts" border="0"></a>

</div>
<div class="container">
     <div class="row">
    </div>
    <div class="row">
        <h4>Resolved Tasks</h4>
        {% for todo in todos|reverse %}
        <div class="square">
            <p><strong>Task:</strong> {{ todo.title }}</p>
            <p><strong>Description:</strong> <br> {{ todo.description }}</p>
            <p><strong>Priority:</strong> {{ todo.priority }}</p>

             <a title="task" href="#">{{ todo.date }}</a>
            <hr>
        </div>
        {% endfor %}
        <p> <a class="text-danger" href="{{ url_for('home') }}">Return to Home </a></p>
    </div>
</div>

<div class="top">
    <footer>Made by <a href="https://github.com/spmccann" target="_blank">Scott</a>. Built with <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a>. 2022</footer>
</div>
{% endblock %}